body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
  .navbar-brand i::before {
    animation: icon-change 3s infinite;
  }

.ml3 {
    font-weight: 900;
    font-size: 3.5em;
  }


.nav-item {
    margin: 0 20px;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 60vh;
    padding: 0 2em;
    color: white;
}

.hero-desc {
    margin-left: 15%;
}

.boldest-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.medium-text {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#myimage {
    background-image: url('assets/ellipse-1@2x.png');
    background-size: 100% 100%;
    background-position: center;
    width: 21.5625rem;
    height: 17.125rem;
    margin-right: 10%;
}

.background-black {
    background-color: black;
}

.text-white {
    color: white;
}


.main-heading {
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 1em;
}

.content-section {
    padding: 0em 5.5em 0em 5.5em;
    text-align:justify;
}

.nav-text-fw {
    font-weight: bold;
    font-size: 30px;
}

section {
    height: 50vh;
}

.span-center {
    display: block;
    text-align: center;
    padding-bottom: 0.5em;
}

#exampleInputMessage{
    height: 10em;
}


footer {
    color: white;
    margin-top: auto;
}


footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    color: white;
    margin-top: auto;
}

footer img {
    height: 1.5em;
    
    width: auto;
}


footer i.heart {
    color: red;
    margin-top: 3px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: black;
}
.nav-link {
    position: relative;
  }
  
  .nav-link::after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    transition: all 0.3s ease 0s;
    width: 0;
  }
  
  .nav-link:hover::after {
    width: 100%;
    left: 0;
  }
  
  @media screen and (max-height: 300px) {
    .navbar-nav {
      margin-top: 40px;
    }
  }


  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  


  .rectangle {
    flex: 0 0 auto;
    width: 20rem; 
    height: 15rem;
    margin: 1rem;
    border: 0.2rem solid black;
    border-radius: 1rem;
    scroll-snap-align: start;
  }

 
  .carousel::-webkit-scrollbar {
    height: 0.4em;
  }
  
  .carousel::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    transition: background 0.3s;
  }

  .navbar-brand i {
    width: 1.5em;
    text-align: center;
  }

  .link-padding{
    padding: 0em 5.5em 0em 5.5em;
  }